@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i|Open+Sans:300,400,400i,600,700,700i,800');
@import './abstracts/mixins';
@import './abstracts/settings';
@import './font-awesome/font-awesome';
@import './forms/forms';
@import './pages/edit-places';
@import '../../../node_modules/bulma/bulma';
body{
  width: 100vw;
  min-height: 100vh;
  background: $color-body-background;
  border: solid 10px $primary;
  font-family: 'Open Sans', sans-serif;
}
#app{
  color: #fff;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  flex: 1;
}
.site-content{
  flex-grow: 1;
}
.container {
  width: 100%;
  margin-top: 2.75rem;
}
.columns{
  padding-top: 1.5rem;
}
.main{
  color: $black-bis;
}
h1{
  font-size: 32px;
}
h1,h2,h3,h4,h5,h6{
  font-family: $family-heading;
}

